apiVersion: v1
kind: Service
metadata:
  name: frankenphp
spec:
  type: ClusterIP
  selector:
    app: frankenphp
  ports:
  - name: http
    protocol: TCP
    port: 443
    targetPort: 443
    
  
    
    
