version: '3.8'

services:
  apache:
    build:
      context: .
      dockerfile: ./docker/frankenphp/Dockerfile
    ports:
      - target: 80
        published: 80
        protocol: tcp
    environment:
      SERVER_NAME: :80
    volumes:
      - ./:/app/public
      - caddy_data:/data
      - caddy_config:/config

  database:
    image: postgres:${POSTGRES_VERSION:-16}-alpine
    ports:
      - target: 5432
        published: 5432
        protocol: tcp
    environment:
      POSTGRES_DB: ${POSTGRES_DB:-app}
      # You should definitely change the password in production
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-quynh121201}
      POSTGRES_USER: ${POSTGRES_USER:-app}
    healthcheck:
      test: ["CMD", "pg_isready", "-d", "${POSTGRES_DB:-app}", "-U", "${POSTGRES_USER:-app}"]
      timeout: 5s
      retries: 5
      start_period: 60s
    volumes:
      - database_data:/var/lib/postgresql/data:rw

volumes:
    caddy_data:
    caddy_config:
    database_data:
