version: '3.8'

services:
  apache:
    build:
      context: .
      dockerfile: ./docker/frankenphp/Dockerfile
    ports:
      - target: 80
        published: 80
        protocol: tcp
      - target: 443
        published: 443
        protocol: tcp
    volumes:
      - ./:/app/public
      - caddy_data:/data
      - caddy_config:/config

volumes:
    caddy_data:
    caddy_config:
