apiVersion: apps/v1
kind: Deployment
metadata:
  name: frankenphp
spec:
  replicas: 2
  selector:
    matchLabels:
      app: frankenphp
  template:
    metadata:
      labels:
        app: frankenphp
    spec:
      containers:
      - name: frankenphp
        image: devho/franken-php:d8e10cd4e5ac0e7b6169bc658939dbfb8695dc8a # {"$imagepolicy": "default:frankenphp-policy"}
        # environment:
        #   - name: SERVER_NAME
        #     value: "my-web.local"
        envFrom:
          - configMapRef:
              name: frankenphp
        resources:
          limits:
            memory: "128Mi"
            cpu: "500m"
        ports:
        - containerPort: 80
        # - containerPort: 443
      volumes:
      - name: frankenphp-volume
        # persistentVolumeClaim:
        #   claimName: frankenphp-pvc



        
      imagePullSecrets:
      - name: regsecret
      # imagePullPolicy: Always



