name: Build & Push with Bake

on:
  push:
    branches: [ "main" ]

env:
  repository: devho/franken-php

jobs:
  bake:
    runs-on: ubuntu-latest

    steps:
      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          # list of Docker images to use as base name for tags
          images: |
            name/app
            ghcr.io/username/app
          # generate Docker tags based on the following events/attributes
          tags: |
            type=schedule
            type=ref,event=branch
            type=ref,event=pr
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=semver,pattern={{major}}
            type=sha

      - uses: actions/checkout@v4

      - uses: docker/setup-buildx-action@v3

      - uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}


      - uses: docker/build-push-action@v6
        with:
          context: .
          file: docker/frankenphp/Dockerfile
          push: true
          tags: | 
            ${{ env.repository }}:${{ github.sha }}
            ${{ env.repository }}:latest
          # tags: devho/franken-php:latest