name: Build & Push with Bake

on:
  push:
    branches: [ "main" ]

jobs:
  bake:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: docker/setup-buildx-action@v3

      - uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}


      - uses: docker/build-push-action@v6
        with:
          context: .
          file: docker/frankenphp/Dockerfile
          push: true
          tags: devho/franken-php:latest